<link rel="stylesheet" href="{{ url_for('static', filename='comment.css') }}">


{% if current_user.is_authenticated or comments %}
    <div class="coment-bottom bg-white p-2 px-4">
        
    {% if current_user.is_authenticated %}
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add Comment</legend>
                    <div class="form-group">
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    {% endif %}

    {% for comment in comments %}
        <div class="commented-section mt-2">
            <div class="d-flex flex-row align-items-center commented-user">
                <img class="img-fluid img-responsive rounded-circle mr-2" src="{{ url_for('static', filename='profile_pics/' + comment.image_file) }}" width="38">
                <h5 class="mr-2">
                    <a href="{{ url_for('users.user_posts', user_name=comment.user_name) }}">
                        {{ comment.user_name }}
                    </a>
                </h5>
                <span class="dot mb-1">
                </span>
                <span class="mb-1 ml-2">
                    {{ comment.formatted_date }}</span>
                </div>
            <div class="comment-text-sm"><span>{{ comment.content }}</span></div>
            <div class="reply-section">
                <div class="d-flex flex-row align-items-center voting-icons">
                    <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i>
                    <i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
                    <span class="ml-2">0</span>
                    <span class="dot ml-2"></span>
                    <h6 class="ml-2 mt-1">Reply</h6>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}



