{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.user_posts', user_name=post.user_name) }}">{{ post.user_name }}</a>
                    <small class="text-muted">{{ post.formatted_date }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.post_id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                {% include 'post_footer.html' %}
            </div>
        </article>
    {% endfor %}
    {% include 'pagination.html' %}
{% endblock content %}
{% block rec_followers %}
    <div>
        Suggested people to follow:
    </div>
    {% if current_user.is_authenticated %}
    {% for rec in rec_followers %}
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + rec.image_file) }}">
        <a class="mr-2" href="{{ url_for('users.user_posts', user_name=rec.user_name) }}">{{ rec.user_name }}</a>
    {% endfor %}
    {% endif %}
{% endblock rec_followers %}
