<div>
    {% if current_user.is_authenticated %}
        {% if post.liked %}
        <button class="like-button">
            <i class="fa fa-thumbs-up" aria-hidden="true" id="like-button-{{post.post_id}}" onclick="like({{post.post_id}})"></i>
        </button>
        {% else %}
        <button class="like-button">
            <i class="fa fa-thumbs-o-up" aria-hidden="true" id="like-button-{{post.post_id}}" onclick="like({{post.post_id}})"></i>
        </button>
        {% endif %}
    {% else %}
    <button class="like-button">
        <i class="fa fa-thumbs-o-up" aria-hidden="true" id="like-button-{{post.post_id}}" onclick="like({{post.post_id}})"></i>
    </button>
    {% endif %}
    <span id="likes-count-{{post.post_id}}">{{ post.likes }}</span>
    <button class="like-button" onclick="redirectToRoute('{{ url_for('posts.post', post_id=post.post_id) }}')">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
    </button>
    <span>{{ post.comments }}</span>
</div>