{% extends "layout.html" %}
{% block content %}
    {% include 'profile-card.html' %}
    <h3 class="mb-3">Posts by {{ user.user_name }}({{ total_posts }})</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.image_file) }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_posts', user_name=post.user_name) }}">{{ post.user_name }}</a>
                <small class="text-muted">{{ post.post_date }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.post_id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            {% include 'post_footer.html' %}
            </div>
        </article>
    {% endfor %}
    {% include 'pagination.html' %}
{% endblock content %}
